body,
#root,
.App {
  min-height: 100vh;
  min-width: 302px;
}

body {
  margin: 0;
  background-color: rgb(240, 242, 245);
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "SFUIText-Light";
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.has-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.has-tooltip::after {
  position: absolute;
  pointer-events: none;
  color: rgb(228, 228, 228);
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.424);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
  white-space: pre;
  text-align: left;
}

.has-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

body ::-webkit-scrollbar {
  width: 20px;
}

body ::-webkit-scrollbar-track {
  background-color: transparent;
}

body ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.175);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  visibility: hidden;
}

body ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1192px) {
  body .Home .sidebar {
    display: none;
  }

  body .ContactsSidebar {
    min-width: auto;
  }
}

@media only screen and (max-width: 952px) {
  body .ContactsSidebar {
    width: 240px;
  }

  body .Home .home-feed {
    min-width: 460px;
  }
}

@media only screen and (max-width: 700px) {
  body .ContactsSidebar {
    display: none;
  }

  body .NavBar .left.third {
    min-width: 244px;
  }

  body .SearchBar input {
    width: 180px;
  }

  body .SearchBar:focus-within input {
    width: 194px;
  }

  body .SearchBar .window {
    width: 260px;
  }

  body .YourProfileBtn .window {
    width: 260px;
  }
}

@media only screen and (max-width: 492px) {
  body .Home .home-feed {
    min-width: 0;
  }

  body .Home .Post > .counts .comment-count {
    display: none;
  }
}

@media only screen and (max-width: 444px) {
  body .NavBar .left.third {
    min-width: 102px;
  }

  body .SearchBar input {
    width: 40px;
  }

  body .SearchBar input:not(:focus) {
    cursor: pointer;
  }

  body .SearchBar input::placeholder {
    color: transparent;
  }

  body .SearchBar input:not(:focus) {
    color: transparent;
  }

  body .SearchBar .magnifying-glass {
    margin-left: 9px;
    font-size: 22px;
  }

  body .Home .home-feed {
    padding-left: 0;
    padding-right: 0;
  }

  body .Home .home-feed .Post {
    border-radius: 0;
  }

  body .Home .NewPostBtn {
    border-radius: 0;
  }
}
