body,
#root,
.App {
  min-height: 100vh;
}

body {
  margin: 0;
  background-color: rgb(240, 242, 245);
}

.App {
  display: flex;
  flex-direction: column;
  font-family: "SFUIText-Light";
  font-size: 14px;
}

.hidden {
  display: none !important;
}

.has-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.has-tooltip::after {
  position: absolute;
  pointer-events: none;
  color: rgb(228, 228, 228);
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.424);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
  white-space: pre;
  text-align: left;
}

.has-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}
