.ContactsSidebar {
  width: 360px;
  min-width: 240px;
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  padding: 28px 8px 0 0;
  box-sizing: border-box;
  overflow: overlay;
}

.ContactsSidebar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.ContactsSidebar .title {
  color: rgb(101, 103, 107);
  font-size: 16px;
  font-family: "SFUIText-Medium";
  padding-left: 8px;
  box-sizing: border-box;
}

.ContactsSidebar .contacts {
  box-sizing: border-box;
  padding: 8px 12px 0 0;
}

.ContactsSidebar .no-contacts-msg {
  padding-left: 8px;
}
