.ContactsSidebar {
  width: 360px;
  position: sticky;
  top: 56px;
  height: calc(100vh - 56px);
  padding: 28px 8px 0 0;
  box-sizing: border-box;
  overflow: auto;
}

.ContactsSidebar .title {
  color: rgb(101, 103, 107);
  font-size: 16px;
  font-family: "SFUIText-Medium";
  padding-left: 8px;
  box-sizing: border-box;
}

.ContactsSidebar .contacts {
  box-sizing: border-box;
  padding: 8px 0;
}

.ContactsSidebar .no-contacts-msg {
  padding-left: 8px;
}
