.Feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  width: min(100%, 680px);
  min-height: 320px;
  margin-bottom: 48px;
}

.Feed .no-posts-msg {
  font-size: 18px;
  margin-top: 110px;
}
