.Home {
  display: flex;
  flex: 1;
  position: relative;
}

.Home .sidebar {
  display: flex;
  flex-direction: column;
  width: 344px;
  position: sticky;
  top: 56px;
  padding-top: 16px;
  padding-left: 8px;
  box-sizing: border-box;
  align-self: flex-start;
}

.Home .me-link {
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  color: black;
  text-decoration: none;
}

.Home .me-link:hover {
  background-color: rgb(228, 230, 233);
}

.Home .me-link:active {
  background-color: rgb(216, 217, 220);
}

.Home .me-link .media {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.Home .me-link .name {
  font-family: "SFUIText-Regular";
  margin-left: 12px;
}

.Home .home-feed {
  flex: 1;
  padding: 28px 0 130px 0;
}
