.NavBar {
  height: 56px;
  background-color: white;
  box-shadow: 0 0 8px rgb(206, 206, 206);
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.third {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.middle.third {
  justify-content: center;
  column-gap: 8px;
}

.right.third {
  justify-content: flex-end;
  column-gap: 8px;
}

.logo-small {
  width: 40px;
  height: 40px;
  background: linear-gradient(rgb(112, 163, 231), rgb(0, 97, 224));
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "KlavikaMedium-TF";
  text-decoration: none;
}

.home-link,
.friends-link {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.home-link.selected,
.friends-link.selected {
  border-bottom: 3px solid rgb(24, 119, 242);
  height: 100%;
}

.home-link.unselected,
.friends-link.unselected {
  height: 48px;
  border-radius: 8px;
}

.home-link.unselected:hover,
.friends-link.unselected:hover {
  background-color: rgb(245, 246, 247);
}

.home-link.unselected:active,
.friends-link.unselected:active {
  background-color: rgb(232, 232, 232);
}

.home-link::after {
  content: "Home";
}

.friends-link::after {
  content: "Friends";
}

.YourProfileBtn > button::after {
  content: "Your profile";
}

.home-link::after,
.friends-link::after,
.YourProfileBtn > button::after {
  position: absolute;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.75);
  pointer-events: none;
  color: rgb(228, 228, 228);
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(147, 147, 147);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}

.YourProfileBtn > button::after {
  margin-left: -30px;
}

.home-link:hover::after,
.friends-link:hover::after,
.YourProfileBtn > button:hover::after {
  visibility: visible;
  opacity: 1;
}
