.NavBar {
  height: 56px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  display: flex;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

.NavBar .third {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.NavBar .middle.third {
  justify-content: center;
  column-gap: 8px;
}

.NavBar .right.third {
  justify-content: flex-end;
  column-gap: 8px;
}

.NavBar .logo-small {
  width: 40px;
  height: 40px;
  background: linear-gradient(rgb(112, 163, 231), rgb(0, 97, 224));
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-family: "KlavikaMedium-TF";
  text-decoration: none;
}

.NavBar .home-link,
.NavBar .friends-link {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.NavBar .home-link.selected,
.NavBar .friends-link.selected {
  border-bottom: 3px solid rgb(24, 119, 242);
  height: 100%;
}

.NavBar .home-link.unselected,
.NavBar .friends-link.unselected {
  height: 48px;
  border-radius: 8px;
}

.NavBar .home-link.unselected:hover,
.NavBar .friends-link.unselected:hover {
  background-color: rgb(245, 246, 247);
}

.NavBar .home-link.unselected:active,
.NavBar .friends-link.unselected:active {
  background-color: rgb(232, 232, 232);
}

.NavBar .home-link::after {
  content: "Home";
}

.NavBar .friends-link::after {
  content: "Friends";
}

.NavBar .YourProfileBtn > button::after {
  content: "Your profile";
}

.has-tooltip::after {
  top: 60px;
}

.has-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.has-tooltip::after {
  position: absolute;
  pointer-events: none;
  color: rgb(228, 228, 228);
  padding: 8px 12px;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.424);
  background-color: rgba(0, 0, 0, 0.8);
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
  white-space: nowrap;
}

.has-tooltip:hover::after {
  visibility: visible;
  opacity: 1;
}

.NavBar .YourProfileBtn > button::after {
  right: 8px;
}
