.Post {
  width: 680px;
  min-height: 185px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgb(188, 188, 188);
  padding: 12px 16px 0 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Post .info-bar {
  display: flex;
}

.Post .info-bar .author-profile-pic img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.Post .info-bar .full-name {
  font-family: "SFUIText-Semibold";
  color: black;
  text-decoration: none;
  margin-top: 2px;
}

.Post .info-bar .full-name:hover {
  text-decoration: underline;
}

.Post .info-bar > :nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Post .info-bar .time-ago {
  font-size: 12px;
  text-decoration: none;
  color: gray;
  margin-top: 2px;
}

.Post .info-bar .time-ago:hover {
  text-decoration: underline;
}

.Post .info-bar .time-ago::after {
  content: "Tuesday, July 5, 2022 at 6:19 PM";
  top: 18px;
}

.Post .info-bar .time-ago:hover::after {
  transition-delay: 0.5s;
}

.Post .info-bar .more-options {
  margin-left: auto;
  position: relative;
}

.Post .info-bar .more-options > button {
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.Post .info-bar .more-options > button img {
  width: 20px;
  height: 20px;
}

.Post .info-bar .more-options .dropdown,
.Comment .more-options .dropdown {
  width: 200px;
  min-height: 62px;
  background-color: white;
  position: absolute;
  top: 45px;
  box-shadow: 0 8px 20px rgb(185, 185, 185);
  border-radius: 8px;
  z-index: 1;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.Post .info-bar .more-options .dropdown {
  right: 2px;
}

.Post .info-bar .more-options .dropdown .triangle,
.Comment .more-options .dropdown .triangle {
  background-color: white;
  height: 12px;
  width: 12px;
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
}

.Post .info-bar .more-options .dropdown .triangle {
  right: 10px;
}

.Post .info-bar .more-options .dropdown button,
.Comment .more-options .dropdown button {
  height: 46px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-family: "SFUIText-Regular";
  font-size: 14px;
  column-gap: 8px;
  padding-left: 12px;
  border-radius: 6px;
}

.Post .info-bar .more-options .dropdown button:hover,
.Comment .more-options .dropdown button:hover {
  background-color: rgb(242, 242, 242);
}

.Post .info-bar .more-options .dropdown button:active,
.Comment .more-options .dropdown button:active {
  background-color: rgb(229, 229, 229);
}

.Post .info-bar .more-options .dropdown button .icon,
.Comment .more-options .dropdown button .icon {
  font-size: 24px;
}

.Post .info-bar .more-options:focus-within .dropdown,
.Comment .more-options:focus-within .dropdown {
  visibility: visible;
  opacity: 1;
}

.Post .content {
  margin-top: 4px;
  line-height: 18px;
}

.Post .comment-count {
  color: rgb(101, 103, 107);
  align-self: flex-end;
  margin-top: 12px;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.Post .comment-count:hover {
  text-decoration: underline;
}

.Post .comment-count::after {
  content: "Clarence Chan";
  top: 20px;
}

.Post .action-btns {
  margin-top: 12px;
  border-top: 1px solid lightgray;
  display: flex;
  padding: 4px;
  box-sizing: border-box;
  height: 44px;
  column-gap: 4px;
}

.Post .action-btns button {
  flex: 1;
  border: none;
  border-radius: 4px;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  color: rgb(101, 103, 107);
  font-family: "SFUIText-Medium";
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 6px;
}

.Post .action-btns button:hover,
.Post .info-bar .more-options > button:hover {
  background-color: rgb(242, 242, 242);
}

.Post .action-btns button:active,
.Post .info-bar .more-options > button:active {
  background-color: rgb(229, 229, 229);
}

.Post .action-btns button .icon {
  font-size: 20px;
}

.Post .comments {
  border-top: 1px solid lightgray;
}

.Post .comment-bar {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
  column-gap: 6px;
}

.Post .comment-bar .pfp-small {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.Post .comment-bar input {
  border: none;
  background-color: rgb(240, 242, 245);
  flex: 1;
  font-family: inherit;
  font-size: inherit;
  height: 36px;
  box-sizing: border-box;
  border-radius: 18px;
  padding: 0 14px;
}

.Post .comment-bar input:focus {
  outline: none;
}

.Post .comment-bar input::placeholder {
  color: rgb(101, 103, 107);
}

.Post .view-more-comments-btn {
  font-size: 14px;
  font-family: "SFUIText-Medium";
  color: rgb(101, 103, 107);
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 2px;
}

.Post .view-more-comments-btn:hover {
  text-decoration: underline;
}
