.ProfilePosts {
  width: min(100%, 1186px);
  display: flex;
  column-gap: 16px;
  padding-top: 16px;
  align-items: flex-start;
}

.ProfilePosts .friends-small {
  width: 490px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.263);
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 132px;
  margin-bottom: 16px;
}

.ProfilePosts .friends-small .top-bar .upper {
  display: flex;
  align-items: center;
  height: 24px;
}

.ProfilePosts .friends-small .title {
  font-family: "SFUIText-Semibold";
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.ProfilePosts .friends-small .title:hover {
  text-decoration: underline;
}

.ProfilePosts .friends-small .friend-count {
  font-size: 15px;
  color: rgb(101, 103, 107);
  margin-top: 2px;
}

.ProfilePosts .friends-small .all-friends-link {
  justify-self: flex-end;
  text-decoration: none;
  color: rgb(24, 119, 242);
  font-size: 15px;
  transition: 0.2s;
  padding: 7px 10px;
  margin-left: auto;
  margin-right: -4px;
  border-radius: 5px;
}

.ProfilePosts .friends-small .all-friends-link:hover {
  background-color: rgb(241, 241, 241);
}

.ProfilePosts .friends-small .all-friends-link:active {
  background-color: rgb(230, 230, 230);
}

.ProfilePosts .friends-small .grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
  margin-top: 16px;
  max-height: 573px;
  overflow: hidden;
}

.ProfilePosts .friends-small .friend-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 183px;
}

.ProfilePosts .friends-small .friend-item .media.pfp {
  width: 145px;
  height: 145px;
  object-fit: cover;
  border-radius: 8px;
}

.ProfilePosts .friends-small .friend-item .media.pfp:hover {
  filter: brightness(0.9);
}

.ProfilePosts .friends-small .friend-item .full-name {
  text-decoration: none;
  font-size: 12px;
  font-family: "SFUIText-Medium";
  color: black;
  margin-top: 2px;
}

.ProfilePosts .friends-small .friend-item .full-name:hover {
  text-decoration: underline;
}

.ProfilePosts .profile-feed {
  flex: 1;
}
