@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

.Profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profile header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.Profile header .header-content {
  display: flex;
  flex-direction: column;
}

.Profile .cover-photo {
  width: 1250px;
  height: 463px;
  background: linear-gradient(rgb(240, 242, 245) 84%, rgb(109, 109, 109));
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
}

.Profile .cover-photo label {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.Profile .cover-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.Profile .cover-photo .add-cover-btn {
  width: 159px;
  height: 36px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 16px;
  right: 32px;
  border-radius: 6px;
  font-family: "SFUIText-Medium";
  font-size: 14px;
  column-gap: 4px;
  position: absolute;
  z-index: 1;
}

.Profile .cover-photo .add-cover-btn:hover {
  background-color: rgb(242, 242, 242);
}

.Profile .cover-photo .add-cover-btn:active {
  background-color: rgb(229, 229, 228);
  transform: scale(0.96);
}

.Profile .cover-photo .add-cover-btn .icon {
  font-size: 18px;
}

.Profile .cover-photo img {
  width: 100%;
  height: 100%;
}

.Profile .user {
  height: 158px;
  padding: 0 32px 16px 32px;
  box-sizing: border-box;
  display: flex;
}

.Profile .user .pfp-label {
  align-self: flex-end;
  display: flex;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  padding: 4px;
  background-color: white;
}

.Profile .user img.pfp {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  object-fit: cover;
}

.Profile .user img.pfp:hover {
  filter: brightness(0.9);
}

.Profile .user img.pfp:active {
  filter: brightness(0.8);
  transform: scale(0.97);
}

.Profile .user .camera {
  position: absolute;
  right: 11px;
  bottom: 11px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgb(228, 230, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Profile .user .camera:hover {
  background-color: rgb(216, 218, 222);
}

.Profile .user .camera:active {
  background-color: rgb(203, 207, 211);
  transform: scale(0.95);
}

.Profile .user .pfp-label .icon {
  font-size: 23px;
}

.Profile .user .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px 14px 16px;
  box-sizing: border-box;
}

.Profile .user .full-name {
  font-family: "SFUIText-Semibold";
  font-size: 30px;
  margin-top: auto;
}

.Profile .user .friend-count {
  font-family: "SFUIText-Medium";
  font-size: 16px;
  color: rgb(101, 103, 107);
  margin-top: 6px;
  text-decoration: none;
}

.Profile .user .friend-count:hover {
  text-decoration: underline;
}

.Profile .user .friends-pfps {
  margin-top: 8px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-left: -2px;
  line-height: 0;
}

.Profile .user .friends-pfps a {
  background-color: white;
  padding: 2px;
  border-radius: 50%;
  z-index: 0;
}

.Profile .user .friends-pfps img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(1);
}

.Profile .user .friends-pfps img:active {
  filter: brightness(0.8);
  transform: scale(0.95);
}

.Profile .user .friends-pfps a:not(:first-child) {
  margin-right: -8px;
}

.Profile .user .relationship {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 16px;
  column-gap: 8px;
}

.Profile .relationship button {
  margin-left: auto;
  height: 36px;
  padding: 0 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-family: "SFUIText-Medium";
  font-size: 14px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  transition: 0.2s;
}

.Profile .relationship .add-friend-btn,
.Profile .relationship .cancel-request-btn {
  background-color: rgb(24, 119, 242);
  color: white;
}

.Profile .relationship .unfriend-btn {
  background-color: rgb(242, 24, 119);
  color: white;
}

.Profile .relationship button .icon {
  font-size: 18px;
}

.Profile .relationship button:hover {
  filter: brightness(0.95);
}

.Profile .relationship button:active {
  filter: brightness(0.9);
  transform: scale(0.95);
}

.Profile .relationship .is-friend {
  height: 34px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  column-gap: 5px;
  font-family: "SFUIText-Medium";
  font-size: 14px;
  border: 1px solid rgb(24, 119, 242);
  border-radius: 6px;
  margin-left: auto;
  color: rgb(24, 119, 242);
}

.Profile .relationship .is-friend .icon {
  font-size: 18px;
}

.Profile .profile-nav {
  background-color: white;
  height: 60px;
  width: 100%;
  position: sticky;
  top: 55px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  z-index: 1;
  display: flex;
  justify-content: center;
}

.Profile .profile-nav .intersection-trigger {
  width: 0;
  height: 0;
  background-color: black;
  position: absolute;
  top: -56px;
}

.Profile .profile-nav .intersection-trigger.stuck + * .nav-links {
  display: none;
}

.Profile .intersection-trigger:not(.stuck) + * .user-jump-to-top-btn {
  display: none;
}

.Profile .nav-content {
  width: 1186px;
  border-top: 1px solid lightgray;
  display: flex;
}

.Profile .nav-content .nav-links {
  display: flex;
  box-sizing: border-box;
  padding-top: 4px;
  animation: fadeIn 0.3s, slideDown 0.3s;
}

.Profile .nav-content a {
  text-decoration: none;
  color: black;
  font-family: "SFUIText-Medium";
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: rgb(101, 103, 107);
  height: 52px;
  transition: 0.2s;
}

.Profile .nav-links a.selected {
  color: rgb(24, 119, 242);
  border-bottom: 3px solid rgb(24, 119, 242);
}

.Profile .nav-links a.unselected {
  border-radius: 5px;
}

.Profile .nav-links a.unselected:hover {
  background-color: rgb(241, 241, 241);
}

.Profile .nav-links a.unselected:active {
  background-color: rgb(230, 230, 230);
}

.Profile .user-jump-to-top-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0 8px;
  align-self: center;
  display: flex;
  align-items: center;
  height: 52px;
  border-radius: 8px;
  column-gap: 11px;
  font-family: "SFUIText-Regular";
  font-size: 16px;
  margin-left: 10px;
  animation: fadeIn 0.3s, slideUp 0.3s;
}

.Profile .user-jump-to-top-btn:hover {
  background-color: rgb(241, 241, 241);
}

.Profile .user-jump-to-top-btn:active {
  background-color: rgb(230, 230, 230);
}

.Profile .user-jump-to-top-btn .jump-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
