.SignUpForm {
  position: absolute;
  height: 100vh;
  width: 100vw;
  min-width: 310px;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0 16px;
  box-sizing: border-box;
}

.SignUpForm form {
  width: 432px;
  min-height: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.SignUpForm form > * {
  transition: filter 0.5s;
}

.SignUpForm form.disabled > * {
  filter: grayscale(0.5) opacity(0.5);
  pointer-events: none;
}

.SignUpForm form .close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #606770;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.SignUpForm form .title-bar {
  padding: 10px 16px 14px 16px;
  border-bottom: 1px solid lightgray;
  align-self: normal;
}

.SignUpForm form .title {
  font-family: "SFUIText-Semibold";
  font-size: 32px;
}

.SignUpForm form .subtitle {
  margin-top: 2px;
  color: #606770;
  font-family: "SFUIText-Regular";
}

.SignUpForm .content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 14px 16px 26px 16px;
}

.SignUpForm .DotsThrobber {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.SignUpForm form input {
  box-sizing: border-box;
  padding: 0 11px;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  font-family: "SFUIText-Regular";
  font-size: 16px;
  height: 38px;
  border-radius: 5px;
  background-color: rgb(245, 246, 247);
  margin-bottom: 10px;
}

.SignUpForm form .full-name-inputs {
  display: flex;
  column-gap: 10px;
}

.SignUpForm form .full-name-inputs input {
  width: 0;
  flex: 1;
}

.SignUpForm form input::placeholder {
  color: rgb(156, 156, 156);
}

.SignUpForm form input:focus {
  outline: none;
  border-color: rgb(24, 119, 242);
}

.SignUpForm form .sign-up-btn {
  width: 194px;
  height: 36px;
  padding: none;
  background-color: hsl(110, 62.7%, 44.1%);
  border: none;
  border-radius: 6px;
  color: white;
  font-family: "SFUIText-Semibold";
  font-size: 18px;
  cursor: pointer;
  margin-top: 8px;
  align-self: center;
  transition: background-color 0.2s, transform 0.2s;
}

.SignUpForm .sign-up-message {
  color: red;
  min-height: 17px;
}

@media (hover: hover) {
  .SignUpForm form .close-btn:hover {
    background-color: rgb(242, 242, 242);
  }

  .SignUpForm form .sign-up-btn:hover {
    background-color: hsl(110, 62.7%, 41.9%);
  }
}

.SignUpForm form .close-btn:active {
  background-color: rgb(229, 229, 229);
}

.SignUpForm form .sign-up-btn:active {
  background-color: hsl(110, 62.7%, 39.7%);
  transform: scale(0.97);
}
